<div class="search-input">
  <input [formControl]="searchControl" matInput placeholder="Search by model" />
</div>
<div
  class="cars-container"
  [ngClass]="{ 'display-none': !loading() && cars().length === 0 }"
>
  <cdk-virtual-scroll-viewport itemSize="90">
    <div class="align-items">
      <div *cdkVirtualFor="let car of cars()" class="car-card">
        <button
          (click)="markAsFavorite(car)"
          [matTooltip]="
            !car.isFavorite ? 'Add to favorite' : 'Remove from favorite'
          "
          mat-icon-button
          aria-label="favorite"
        >
          <mat-icon
            [ngClass]="{
              'is-favorite': car.isFavorite,
            }"
            >favorite</mat-icon
          >
        </button>

        <div>Brand: {{ car.brand }}</div>
        <div>Model: {{ car.model }}</div>
        <div>
          Year:
          {{ car.productionYear }}
        </div>

        <button
          (click)="seeDetails(car)"
          matTooltip="Car details"
          mat-icon-button
          aria-label="read_more"
        >
          <mat-icon>read_more</mat-icon>
        </button>
      </div>
    </div>
  </cdk-virtual-scroll-viewport>
</div>
@if(!loading() && cars().length === 0){
<div class="no-cars">No Cars</div>
} @if(loading()){
<div class="loading">
  <mat-spinner [diameter]="60"></mat-spinner>
</div>
}
