<h2 mat-dialog-title>Hello, please log in!</h2>
<mat-dialog-content>
  <form [formGroup]="loginForm">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input
        autocomplete="email"
        formControlName="email"
        matInput
        placeholder="Email"
        required
      />
      @if(loginForm.get('email')?.hasError('required')){
      <mat-error> Email is required</mat-error>
      } @if(loginForm.get('email')?.hasError('pattern')) {
      <mat-error> Email is invalid</mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input
        autocomplete="current-password"
        formControlName="password"
        matInput
        type="password"
        placeholder="Password"
        required
      />
      @if(loginForm.get('password')?.hasError('required')) {
      <mat-error> Password is required</mat-error>
      } @if(loginForm.get('password')?.hasError('pattern')) {
      <mat-error>Password must be between</mat-error>
      }
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-stroked-button mat-dialog-close>Cancel</button>
  <button mat-stroked-button [disabled]="loginForm.invalid" (click)="login()">
    Login
  </button>
</mat-dialog-actions>
