<div class="home-page">
  <header class="header">
    <mat-icon aria-hidden="false" (click)="login()">login</mat-icon>
  </header>

  <div class="main-content">Find Your Perfect Car Today</div>

  <footer class="footer">
    <div class="footer-item">
      <mat-icon aria-hidden="false">directions_car</mat-icon>
      <div class="mobile-message">Wide Selection</div>
    </div>
    <div class="footer-item">
      <mat-icon aria-hidden="false">verified</mat-icon>
      <div class="mobile-message">Verified Listings</div>
    </div>
    <div class="footer-item">
      <mat-icon aria-hidden="false">devices</mat-icon>
      <div class="mobile-message">User Friendly Interface</div>
    </div>
  </footer>
</div>
